 body {
    margin: 0px;
    background: #ededed;
}
#header {
    background: #2f2f2f;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
#header h1 {
    font-family: "Roboto Slab", serif;
    font-size: 40px;
    font-weight: 300;
    color: #ededed;
    margin: 12px 20px;
    display: inline-block;
}
#content {
    background: white;
    box-shadow: 0 0 2px rgba(0,0,0,0.1);
    padding: 20px;
    margin: 100px 10px;
} 
#content h1 {
    font-family: "Roboto", serif;
    font-size: 24px;
    font-weight: 400;
}
input {
    display: block;
    font-family: "Roboto";
    font-size: 16px;
    padding: 5px;
    margin: 10px;
}
button {
    background: #2f2f2f;
    border: 1px solid #f2f2f2;
    color: white;
    font-family: "Roboto";
    font-size: 20px;
    padding: 10px;
    margin: 10px;
}